---
import SectionContainer from "@components/ui/SectionContainer.astro";
import type { HeroSection } from "src/types";

interface Props {
    i18n: HeroSection;
}

const { i18n } = Astro.props;
const { title, description, button, id } = i18n;
---

<SectionContainer id={id} class="px-4 sm:px-6 lg:px-8 overflow-hidden">
    <!-- Video de fondo -->
    <div class="absolute inset-0 w-full h-full">
        <iframe
            src="https://player.vimeo.com/video/1087400776?autoplay=1&loop=1&background=1&quality=min"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
            style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;"
            title="Rizzita toma su reposo"></iframe>
    </div>
    <!-- <div
        id="hero-gradient"
        class="absolute inset-0 bg-gradient-to-b from-black/40 via-black/20 to-black/40 z-10"
    >
    </div> -->

    <!-- Contenido del Hero -->
    <div class="relative z-20 text-center min-h-screen flex flex-col items-center justify-center">
        <!-- Logo opcional -->
        <!-- 
        <div class="relative max-w-4xl mx-auto">
            <img
                alt="Logo de la compañía"
                src="/xitry/images/logo.webp"
                width="250"
                height="250"
                loading="lazy"
                class="mx-auto mb-4 object-contain aspect-square"
            />
        </div>
        -->

        <h1
            id="hero-title"
            class="text-2xl font-extrabold leading-tight tracking-tight sm:text-3xl md:text-5xl text-pretty text-secondary"
        >
            {title}
        </h1>

        <p
            id="hero-description"
            set:html={description}
            class="max-w-2xl mx-auto mt-4 text-base font-light tracking-wide text-gray-300 sm:mt-6 sm:text-lg md:text-xl text-pretty"
        />

        <div
            id="hero-buttons"
            class="flex flex-wrap justify-center gap-3 mt-6 sm:mt-10 sm:gap-4"
        >
            <a
                href={`#${id}`}
                class="px-5 py-2 font-bold transition-transform border rounded-md sm:px-6 sm:py-2 border-secondary text-secondary hover:bg-secondary/20 hover:scale-105 hover:rotate-1"
            >
                {button}
            </a>
        </div>
    </div>
</SectionContainer>

<script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
        const video = document.getElementById("hero-video");
        // const gradient = document.getElementById("hero-gradient");

        video.addEventListener("ended", () => {
            setTimeout(() => {
                video.currentTime = 0;
                video.play();
            }, 1000);
        });
    });
</script>

<style>
    @keyframes cinematicExit {
        to {
            /* opacity: 0; */
            transform: scale(0.97);
            filter: blur(4px);
        }
    }

    .cinematic-exit {
        animation: cinematicExit 1.2s ease-in-out forwards;
    }
</style>
